.input-radio-wrapper {
  margin-left: 16px;
}
.radios {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radio-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radios input {
  cursor: pointer;
  margin: unset;
  width: 16px;
  height: 16px;
}

.radios input:checked {
  background-color: var(--color-primary);
  color: var(--color-primary);
  accent-color: var(--color-primary);
}

.radios label {
  margin: 0 20px 0 0;
  padding: 0 0 0 8px;
  cursor: pointer;
}
