.wrapper {
  position: relative;
}

.wrapper.error .input {
  border: 1px solid red;
}

.input-icon {
  background-position: -556px -355px;
  position: absolute;
  top: 50%;
  right: 6px;
  padding: 8px;
  cursor: pointer;
}

.input-icon:hover {
  background-color: #ccc;
}

.selections {
  width: 100%;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  border-radius: 2px;
  border: 1px solid var(--color-border);
  background-color: #fff;
  z-index: 999;
}

.select-header {
  font-weight: 600;
  background-color: #ddd;
}

.select-item {
  display: flex;
  font-size: 12px;
  padding: 4px 12px;
}

.select-item-left {
  flex: 3;
}

.select-item-right {
  flex: 7;
}

.select-item.active {
  color: var(--color-primary);
  background-color: #ddd;
}

.select-item.hide {
  display: none;
}

.select-item + .select-item {
  margin-top: 2px;
}

.select-item:not(.select-header):hover {
  cursor: pointer;
  color: var(--color-primary);
  background-color: #ddd;
}
