input::placeholder {
  font-style: normal;
  font-size: 14px;
}

.title:hover {
  cursor: text;
}

.label .k-tooltip {
  width: 132px;
  left: 100%;
}

.label:hover {
  cursor: context-menu;
}
